@import url("/home/whuang/.cache/wal/colors-waybar.css");

@define-color bar_bg alpha(@background, 0.75);

* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     13px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

tooltip {
    background: @background;
    border-radius: 5px;
}

window#waybar {
    background: transparent;
}

window {
    color:      @foreground;
    background: transparent;
}

window#waybar.solo {
    color:      @foreground;
    background: transparent;
}

window > box {
    margin: 5px;
    background: @bar_bg;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    background: transparent;
    color:      alpha(@foreground, 0.25);
}

#workspaces button.visible {
    color:      @foreground;
}

#workspaces button.urgent,
#workspaces button.focused {
    border-top: 3px solid @color4;
    border-bottom: 3px solid alpha(@color4, 0);
    border-radius: 8px 0;
    background: alpha(@color6, 0.6);
}

#workspaces button.urgent {
    background: alpha(@color6, 0.8);
    color:      rgba(238, 46, 36, 1);
}

#workspaces button:hover {
    border-top: 3px solid @color2;
    color: @foreground;
}

#tray, 
#clock, 
#mode, 
#battery, 
#cpu, 
#memory, 
#network, 
#pulseaudio, 
#idle_inhibitor, 
#backlight, 
#custom-storage, 
#custom-spotify, 
#custom-weather, 
#custom-mail {
    padding: 0 10px;
    margin:     2px 5px;
    background-color: alpha(mix(@bar_bg, @color3, 0.7), 0.5);
    color: @foreground;
    border-radius: 3px 10px;
}

#mode {
    border-radius: 10px 3px;
    color: @foreground;
    border: 1px solid alpha(mix(@bar_bg, @color3, 0.7), 0.7);
}

/*#clock {
    margin:     0px 16px 0px 10px;
    font-weight: bold;
}*/

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
